# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Python cache
.pytest_cache/
.vercel
pyproject.toml
uv.lock
.env.local
.env.*.local
